body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a; /* Dark background */
    color: #fff; /* White text for contrast */
    background-image: url('https://i.pinimg.com/474x/5c/a1/6e/5ca16ee4d9815980e80286b8c9a74a91.jpg'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    animation: fadeBackground 5s infinite alternate; /* Apply fading animation */
}

@keyframes fadeBackground {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.container {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.8); /* Darker container background with transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffb300;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}



/**body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a; 
    color: #fff; 
} 

.container {
    text-align: center;
    background-color: #333; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.182);
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
} */

.wavy-text {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    animation: wave 1s infinite;
}

@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

.image-container {
    width: 50%;
   
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.large-image {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
